<link rel="stylesheet" href="/style.css">
<div class="card">
<h2>@<%= user.username %></h2>
<p><%= user.phone %></p>


<form method="POST" action="/users/update-profile">
<input name="profilePicUrl" placeholder="Profile Image URL" />
<button>Update Profile</button>
</form>


<a href="/chat">Chats</a>
</div>